.skills-main-div {
  display: flex;
  overflow: hidden;
}

.skills-header {
  font-size: 60px;
  line-height: normal;
  font-family: "Google Sans Regular";
  text-align: center;
}

.skills-text {
  font-size: 20px;
}

.skills-text-div {
  margin-left: 50px;
  font-family: "Google Sans Regular";
}

.skills-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.skills-image-div {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: space-between;
  margin-top: 20px;
}

.skills-image-div > div {
  width: calc(50% - 15px);
  height: fit-content;
  margin-top: 30px;
}

.project-asset-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
}

.skills-heading {
  margin-bottom: 10px;
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Regular";
  line-height: normal;
}

.skills-subheading {
  margin-top: 0px;
  font-size: 28px;
  font-weight: 600;
  font-family: "Google Sans Regular";
  line-height: normal;
}

.project-build-btn {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }
  .skills-subheading {
    font-size: 24px;
  }
  .skills-header {
    font-size: 50px;
  }
  .project-build-btn {
    margin-top: 30px;
  }
  /* .skills-image-div > img {
    margin-top: 0px;
  } */
}
@media (max-width: 768px) {
  .skills-heading {
    font-size: 30px;
    text-align: center;
  }
  .skills-subheading {
    font-size: 20px;
    text-align: center;
  }
  .skills-header {
    font-size: 30px;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .skills-main-div {
    flex-direction: column;
  }
  .skills-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .skills-text {
    font-size: 16px;
  }
  .skills-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .skills-image-div {
    /* display: none; */
    order: 2;
  }
  /* .skills-image-div > * {
    margin-top: 0px;
  } */
  .skills-image-div > div {
    width: calc(50% - 5px);
    margin-top: 10px;
  }
}
